.main-container{
    width:55%;
    display: 'flex';
}

#calculatorContainer{
    align-items: 'center';
    justify-content: 'space-around';
}

#result{
    width: 100%;
    border-radius: 10px;
    height: 50px;
    display: flex;  
    justify-content: flex-end;
}